h2 {
  color: orange;
  /* background-color: purple; */
  text-shadow: 2px 2px 4px green;
}

#hero {
  background-image: url("./images/space-stars-background_160081-158.jpg");
  min-height: 100vh;
}

section {
  height: 100vh;
}

.container {
  max-width: 1080px;
}

#row-one {
  height: 150px;
}

#row-two {
}

#row-three {
  height: 150px;
  margin-top: -50px;
}

#row-four {
  margin-top: -50px;
}

/* Planet B-Ball */

#planet-bball {
  background-image: url("./images/bg-bball.gif");
}

.player-img {
  height: 150px;
}

.img-right {
  border-radius: 70% 30%;
}

.img-left {
  border-radius: 30% 70%;
}

/* Behind The Jame */

#behind-the-jam {
  background-image: url("./images/space-stars-background_160081-158.jpg");
}

/* Junior Jam */

#junior-jam {
  background-image: url("./images/bg-junior.gif");
}
